node_modules/

# .env
# .env.local
# .env.*.local

logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

tmp/
temp/
pids/
*.pid
*.seed
*.pid.lock

build/
dist/
out/
coverage/
lib/

uploads/
cache/

.vscode/
.idea/
.DS_Store
Thumbs.db


